@import-normalize;

body {
  color: #000000;
  /* padding: 0 15px; */

  margin: 0 auto;
  font-family: sans-serif;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

img {
  display: block;
  max-width: 100%;
  object-fit: cover;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

a {
  text-decoration: none;
}

li {
  text-decoration: none;
  list-style: none;
  padding: 0;
}

.button {
  border-radius: 8px;
  border-color: #ffffff;
  font-weight: 600;
  padding: 5px;

  &:hover,
  &:focus {
    cursor: pointer;
    background-color: #23784ca1;
  }
}
